nav, header, .contenedor, footer{
    max-width: 92%;
    margin: auto;
    border-radius: 0.4em;
}
nav { 
    text-align: center;
    background-color: cyan;
}

body {
    background-image: url(../IMG/3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
a{
    color: #F0B429;
}
h3 {
    color: #F0B429;
}
article {
    columns: #333333;
}
h1 {
    color: #F0B429;
}
.central {
    vertical-align: top;
    display: inline-block;
    max-width: 65%;
}
aside { 
    display: inline-block;
    max-width: 27%;
    vertical-align: top;
  
}

.menu li{
    display:inline-block ;
}
li a, boton{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 0.9em 1em;
    
}
.ListaDesplegable{
    display: none;
    background-color: ghostwhite;
    position: absolute;

}
.ListaDesplegable a{
    color: black;
    display: block;
    text-align: left;
}
.boton:hover .ListaDesplegable{
    display: block;
}
